@model IEnumerable<_2380602555_LeNgocQuangVinh_KTGiuaKy.Models.HocPhan>

@{
    ViewData["Title"] = "Danh Sách Học Phần";
}

<h2 class="mt-4 mb-4 text-secondary text-uppercase">DANH SÁCH HỌC PHẦN</h2>

<table class="table table-borderless border-top border-bottom">
    <thead>
        <tr class="border-bottom">
            <th>Mã Học Phần</th>
            <th>Tên Học Phần</th>
            <th>Số Tín Chỉ</th>
            <th>Số lượng dự kiến</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle border-bottom">
                <td>@item.MaHP</td>
                <td>@item.TenHP</td>
                <td>@item.SoTinChi</td>
                <td>@item.SoLuong</td>
                <td>
                    <a asp-controller="GioHang" asp-action="ThemGioHang" asp-route-maHP="@item.MaHP" class="btn btn-success btn-sm px-4 rounded-1">Đăng Kí</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mt-4 pt-3 border-top text-muted">
</div>